.crd{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

.crd-body{
    position: relative !important; 
    overflow: hidden;
}
.crd-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(100% , 100%);
    border: none;
    background: #081f37;
    color: #fff;
    padding: 4px 8px;
    transition: 1s ease-in-out;
    border-radius: 8px 0 0 0 ;
}

.crd-btn:hover{
    background: #1e549f;
}

.crd-body:hover  , .crd-image{
    transition: 1s ease-in-out;
}

.crd-body:hover .crd-btn{
    transform: translate(0, 0);
}

.crd-body:hover  .crd-image{
    transform: scale(1.3);
}

.btn{
    border-color: #081f37 !important;
    color: #081f37 !important;
    width: 40px;
    height: 40px;
}

.side{
    width: 600px !important;
}


.side-cart{
    align-items: normal;
}

.side-header{
    display: flex;
    flex-direction: column;
 
}

.offcanvas-header{
    align-items: normal !important;
}

.btn{
    width: auto;
   
}

.btn-one{
    margin: 0px 20px;
}

.hr{
    border: none;
    border-bottom: 1px solid #081f37 ;
    margin: 20px  0px;
}

.btn_{
    border: none;
    border-bottom: 1px solid #081f37 ;
}

.text{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.links{
    font-size: 15px !important;
    font-family: 'Oswald', sans-serif;
    font-weight: 600  !important;
}
.icon-container{
    position: relative;
    font-size: 30px;
}

.icon_svg{
    font-size: 30px;
}

.icon{
    position: absolute;
    background: red;
    right: 10px;
    top: 20px;
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.cart__checkOutButton{
    background: red;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(50,50,93,.2);
    font-size: .875rem;
    font-weight: 600;
    height: 2.5rem;
    line-height: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    white-space: nowrap;
    margin-top: 100px;
    background: green;
}

.form{
    display: flex;
    flex-direction: column;
    align-self: center;
    float: right;
    margin: 20px;
}

.total_{
    
    display: block;
font-size: 40px;
font-weight: 700;
font-family: 'Courier New', Courier, monospace;
    margin-right: 100px;
    
}

.count_total{
    display: block;
    align-self: center;
    float: right;
    margin: 20px;
    
}